.home-page-wrapper {
    background-color: #F0F0F7;

    .home-header {
        height: 56vh;
        background-color: #00BFFF;
        display: flex;
        align-items: center;
        justify-content: center;
    
        .home-header-title {
            color: #ffffff;
            width: 100vw;
    
            .header-title {
                font-size: 6rem;
                font-weight: bolder;
            }
            .header-sub-title {
                text-align: center;
                font-size: 2rem;
            }
        
            .book-icon {
                font-size: 10rem;
            }
        }
    
    }
    


    .home-content {
        width: 100vw;
        height: 38vh;

        .welcome-message {
            font-size: 1.4rem;
            color: #6A6180;
        }

        .total-connections {
            font-size: 0.75rem;
            color: #9C98A6;
        }

        .buttons-container {

            .home-button {
                .home-button-text {
                    font-size: 1.6rem;
                    font-weight: bold;
                    color: #ffffff;
                }
            }

            .studies-box {
                border-radius: 0.75rem;
                background-color: #00BFFF;
            }
            .teacher-box {
                border-radius: 0.75rem;
                background-color: #04D361;
            }
        }
    
    }
}
