<div class="card">
    <div class="card-body">
        <div class="row mb-2">
            <div class="col-2 d-flex justify-content-center">
                <img 
                    [src]="study.photo" 
                    [alt]="study.name"
                    class="img-thumbnail rounded-circle img-study"
                    >
            </div>
            <div class="col-10">
                <h5 class="card-title">{{ study.name }}</h5>
                <h6 class="card-subtitle mb-2 study-card-subject">{{ study.subject }}</h6>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-12 text-pre-wrap study-card-description">
                {{ study.description }}
            </div>
        </div>
    </div>
</div>
