.title-container {
  min-width: 100%;
  min-height: 100%;
  background-color: #00BFFF;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-text {
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .title {
    font-size: 7rem;
    font-weight: bold;
  }
  
  .sub-title {
    font-size: 3rem;
  }
}